@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.contact-bg{
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(contact-images/contact_landing.jpg);
    background-position: 100% 0%;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  padding-top: 100px;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #1266f1;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #1266f1;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 3rem 0;
    
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    gap: 15rem;
   
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #1266f1;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #1266f1;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
}
.contact-form > div img{
    width: 95%;
    padding-left: 55px;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: #000;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: #1266f1;
    border-color: #1266f1;
}

@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 1px;
    }
    
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(3, 1fr);
        padding-left: 0px;
    }
}









@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box
}

body {
  margin: 0;
}

a {
  color: #777;
  text-decoration: none;
}

.header {
  width: 80%;
}

.para1 p{
    font-family: Montserrat;
    margin-top: 81px;
}

/* - link under - */

.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link-arrow:hover:after {
  right: -35px
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%
}

.link-arrow-hover:after {
  right: -35px
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700
}

.link:active,
.link:focus,
.link:hover {
  outline: 0
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link:hover {
  color: #000
}

.link:before:hover .dropdown-menu{
    display: block;
}

.link:hover:before {
  width: 100%
}

.link-theme:before {
  background: #3586ff
}


@media only screen and (min-width:1200px) {
  .container {
    width: 1160px;
    width: 80%;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 30px;
  }

}

.action_btn{
    font-size: 1rem;
    font-family: poppins;
    margin-left: 20px;
    position: relative;
    top: 19px;
    border: none;
    background: #1266f1;
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 15px;
}

.action_btn:hover{
    opacity: 0.8;
}

.action_btn:active{
    opacity: 0.6;
}


.aboutus img{
    cursor: pointer;
}

.aboutus img:hover{
    transform: scale(1.2);
}



/* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */

.header {
  background-color: #fff;
  position: fixed;
  top: -14px;
  width: 100%;
  z-index: 3;
  margin-left: 00%;
  margin-right: 00%;
  padding: 17px 0;
  box-shadow: 0.1px -9.9px 25px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px 4px 136px;
  text-decoration: none;
}


.header li a:hover,
.header .menu-btn:hover {
  background-color: #fff;
}

.header .logo {
  /* color: #ffd300; */
  display: block;
  float: left;
  padding: 2px 0px;
  padding-left: 8px;
  position: absolute;
  top: 22px;
  left: 60px;
  cursor: pointer;
}

.header .logo:hover{
    transform: scale(1.2);
}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  position: relative;
  right: 80px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}



.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* footer  */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: rgba(255, 255, 255, 0.467);
    margin-top: auto;
    box-shadow: 0.1px 11.1px 25px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    /* background:linear-gradient(112.1deg, rgb(32, 38, 57,0.2) 11.4%, rgb(63, 76, 119,0.2) 70.2%),url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0; */
/* 
    background-position-y: 70px;
    background-position-x: -500px; */
    /* background-position: bottom; */
    /* border-top-left-radius: 50px; */
    /* border-top-right-radius: 50px; */
    background: url(contact-images/background.jpg);
    z-index: 1;
}

footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 47px;
}

footer .container h2{
    position: relative;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .container h2:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: black;
}

footer .container p{
    color: #000;
    margin-top: 5px;
}

footer .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4 , 50px);
    font-size: 2.5em;
    margin-left: -9px;
    grid-gap: 10px;
}

footer .sci li{
    list-style: none;
}

footer .sci li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    /* background: #5569ce; */
    font-size: 4 0px;
    border-radius: 7px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
}

footer .sci li a:hover{
    background: transparent;
    color: #1266f1;
    transform: translateY(-7px);
}

.quicklinks{
    position: relative;
}

.quicklinks li{
    list-style: none;
}

.quicklinks li a{
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: 0.3s;
    font-size: 1.07rem;
}

.quicklinks li a:hover{
    color: #3586ff;
    transform: translateX(10px);
    font-weight: 600;
    /* text-decoration: underline; */
}

.quicklinks li a{
    position: relative;
    width: 100%;
}

.contact{
    list-style: none;
}

.contact .info{
    position: relative;
}

.contact li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.contact li span:nth-child(1){
    color: #000;
    font-size: 31px;
}

.contact li span{
    color: #000;
}

.contact li .ecell{
    margin-left: 20px;
}

.contact a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.3s;
}
.contact li a:hover{
    color: #3586ff;
    transform: translateX(10px);
    font-weight: 600;
}

.contact li p:hover{
    transform: translateX(10px);
}

.copyright{
    width: 100%;
    background: #1266f1;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
    margin-top: 0px;
}

@media (min-width: 875px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 0px 5px 0px;
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

@media(max-width:991px){
    footer{
        padding: 40px;
    }
    footer .container{
        grid-template-columns: repeat(2,1fr);
    }
    .copyright{
        padding: 8px 40px;
    }
}

@media(max-width:768px){
    footer .container{
        grid-template-columns: repeat(1,1fr);
    }
}


























