* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

a {
    color: #777;
    text-decoration: none;
  }
  
  .header {
    width: 80%;
  }
  
  .para1 p{
      font-family: Montserrat;
      margin-top: 81px;
  }
  
  /* - link under - */
  
  .link-arrow:after {
    content: '';
    background-size: 100% 100%;
    width: 16px;
    height: 12px;
    position: absolute;
    top: 5px;
    right: -28px;
    -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
    transition: all .4s cubic-bezier(.35, 1, .33, 1)
  }
  
  .link-arrow:hover:after {
    right: -35px
  }
  
  .link-arrow.link-arrow-white:after {
    background-size: 100% 100%
  }
  
  .link-arrow-hover:after {
    right: -35px
  }
  
  .link {
    display: inline-block;
    position: relative;
    border: none;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-family: Montserrat, helvetica, arial, sans-serif;
    font-weight: 700
  }
  
  .link:active,
  .link:focus,
  .link:hover {
    outline: 0
  }
  
  .link:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    width: 0;
    height: 2px;
    -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
    transition: all .4s cubic-bezier(.35, 1, .33, 1)
  }
  
  .link:hover {
    color: #000
  }
  
  .link:before:hover .dropdown-menu{
      display: block;
  }
  
  .link:hover:before {
    width: 100%
  }
  
  .link-theme:before {
    background: #3586ff
  }
  
  
  @media only screen and (min-width:1200px) {
    .container {
      width: 1160px;
      width: 80%;
    }
    h1 {
      font-size: 80px;
    }
    h2 {
      font-size: 30px;
    }
  
  }
  
  .action_btn{
      font-size: 1rem;
      font-family: poppins;
      margin-left: 20px;
      position: relative;
      top: 19px;
      border: none;
      background: #1266f1;
      color: white;
      padding: 0.4rem 0.8rem;
      border-radius: 15px;
  }
  
  .action_btn:hover{
      opacity: 0.8;
  }
  
  .action_btn:active{
      opacity: 0.6;
  }
  
  
  .aboutus img{
      cursor: pointer;
  }
  
  .aboutus img:hover{
      transform: scale(1.2);
  }
  
  
  
  /* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
  
  .header {
    background-color: #fff;
    position: fixed;
    top: -14px;
    width: 100%;
    z-index: 3;
    margin-left: 00%;
    margin-right: 00%;
    padding: 17px 0;
    box-shadow: 0.1px -9.9px 25px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px 4px 136px;
    text-decoration: none;
  }
  
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #fff;
  }
  
  .header .logo {
    /* color: #ffd300; */
    display: block;
    float: left;
    padding: 2px 0px;
    padding-left: 8px;
    position: absolute;
    top: 22px;
    left: 60px;
    cursor: pointer;
  }
  
  .header .logo:hover{
      transform: scale(1.2);
  }
  /* menu */
  
  .header .menu {
max-height: 0;
    transition: 0.5s ease-out;
    position: relative;
    right: 80px;
    display: block;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
display: contents;
  }
  
  
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  

.landing{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(./Assets/landing.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
color: white;
}
.welcome {
 color:white;
margin-top: 5%;
}

.div1{
    /* text-align: left; */
}
.content {
    text-align: center;
    position: relative;
  padding: 1rem;
 }
 .content h1{
    color: white;
    font-weight: 550;
 }
 .About{

    text-align: center;
    width: 50%;
 }
 .goal{
    text-align: center;
    width: 50%;
 }

.welcome h1 {
    font-size: 45px;
    font-weight: bolder;
}

.welcome h2 {
    /* word-break: 2px; */
    word-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
}
.container2 h1{
    padding-top: 3%;
}
button {
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
    border: white;
    background-color: #1266f1;
}

/* --container-- */
.container2 {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.4);
    width: 80%;
    background-color: white;
    margin: 7% 10%;
    text-align: center;
    align-items: center;
    margin-top: -98px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;

}
.container2 h1 {
    font-size: 35px;
}

.div1 p {
    padding: 4%;
}

/* --Middle-- */
.middle {
    text-align: center;
}

.middle h1 {
    font-size: 35px;
    margin-bottom: 5%;
}

.numbers {
    margin-bottom: 5%;
    padding: 2rem;
    background-color: rgb(246, 251, 255);
    padding: 3% 7%;
    display: flex;
    justify-content: space-around;
}

.cards {
    margin: 5%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.card {
    flex-basis: 2%;
border-radius: 10px;
    padding: 5px 5px;
    box-sizing: border-box;
    transition: 1s;
    text-align: center;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 20px 0 rgba(8, 6, 64, 0.12);
}

/* footer  */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: rgba(255, 255, 255, 0.467);
    margin-top: auto;
    box-shadow: 0.1px 11.1px 25px;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    background: url(./Assets/background.jpg);
    z-index: 1;
}

footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 47px;
}

footer .container h2{
    position: relative;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .container h2:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: black;
}

footer .container p{
    color: #000;
    margin-top: 5px;
}

footer .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4 , 50px);
    font-size: 2.5em;
    margin-left: -9px;
    grid-gap: 10px;
}

footer .sci li{
    list-style: none;
}

footer .sci li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    /* background: #5569ce; */
    font-size: 4 0px;
    border-radius: 7px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
}

footer .sci li a:hover{
    background: transparent;
    color: #1266f1;
    transform: translateY(-7px);
}

.quicklinks{
    position: relative;
}

.quicklinks li{
    list-style: none;
}

.quicklinks li a{
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: 0.3s;
    font-size: 1.07rem;
}

.quicklinks li a:hover{
    color: #3586ff;
    transform: translateX(10px);
    font-weight: 600;
    /* text-decoration: underline; */
}

.quicklinks li a{
    position: relative;
    width: 100%;
}

.contact{
    list-style: none;
}

.contact .info{
    position: relative;
}

.contact li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.contact li span:nth-child(1){
    color: #000;
    font-size: 31px;
}

.contact li span{
    color: #000;
}

.contact li .ecell{
    margin-left: 20px;
}

.contact a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.3s;
}
.contact li a:hover{
    color: #3586ff;
    transform: translateX(10px);
    font-weight: 600;
}

.contact li p:hover{
    transform: translateX(10px);
}

.copyright{
    width: 100%;
    background: #1266f1;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
    margin-top: 0px;
}

/* footer  */
@media (min-width: 875px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 0px 5px 0px;
      margin-left: 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
      height: max-content;
    }
    .header .menu-icon {
      display: none;
    }

    }

@media(max-width:991px) {
  .welcome {
        position: absolute;
        top: 5%;
        display: flex;
        flex-direction: column-reverse;
    }

    footer {
        padding: 40px;
    }

    footer .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright {
        padding: 8px 40px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }
    .container2{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:768px) {

    footer .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .container2 p {
        text-align: left;
    }

}

/* Media Queries */
/* navbar  */
@media(max-width:794px) {
    footer {
        margin-top: 20%;
    }

    .numbers h2 {
        font-size: 20px;
    }

    .image img {
        width: 50%;
    }



  
    .landing_images img{
        width: 20%;
        text-align: center;
        align-items: center;
    }
}

@media(max-width:576px) {
   
    .content {
     top: 10%;
     
    }

    .image2 {
        display: none;
    }

    footer {
        margin-top: 40%;
    }

    .aboutus {
        display: none;
    }

    .image img {
        width: 80%;
    }

    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .numbers {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:450px) {
   .welcome h1 {
        font-size: 45px;
    }
}