@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box
}

body {
  margin: 0;
}

a {
  color: #777;
  text-decoration: none;
}

.header {
  width: 80%;
}

.para1 p{
    font-family: Montserrat;
    margin-top: 81px;
}

/* - link under - */

.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link-arrow:hover:after {
  right: -35px
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%
}

.link-arrow-hover:after {
  right: -35px
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700
}

.link:active,
.link:focus,
.link:hover {
  outline: 0
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link:hover {
  color: #000
}

.link:before:hover .dropdown-menu{
    display: block;
}

.link:hover:before {
  width: 100%
}

.link-theme:before {
  background: #3586ff
}


@media only screen and (min-width:1200px) {
  .container {
    width: 1160px;
    width: 80%;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 30px;
  }

}

.action_btn{
    font-size: 1rem;
    font-family: poppins;
    margin-left: 20px;
    position: relative;
    top: 19px;
    border: none;
    background: #1266f1;
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 15px;
}

.action_btn:hover{
    opacity: 0.8;
}

.action_btn:active{
    opacity: 0.6;
}


.aboutus img{
    cursor: pointer;
}

.aboutus img:hover{
    transform: scale(1.2);
}



/* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */

.header {
  background-color: #fff;
  position: fixed;
  top: -14px;
  width: 100%;
  z-index: 3;
  margin-left: 00%;
  margin-right: 00%;
  padding: 17px 0;
  box-shadow: 0.1px -9.9px 25px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px 4px 136px;
  text-decoration: none;
}


.header li a:hover,
.header .menu-btn:hover {
  background-color: #fff;
}

.header .logo {
  /* color: #ffd300; */
  display: block;
  float: left;
  padding: 2px 0px;
  padding-left: 8px;
  position: absolute;
  top: 22px;
  left: 60px;
  cursor: pointer;
}

.header .logo:hover{
    transform: scale(1.2);
}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  position: relative;
  right: 80px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}



.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

  .section_title {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.section_title {
    position: relative;
    z-index: 1;
    margin-top: 100px;
    /* margin: 20px; */
}



.section_title h2 {
    text-align: center;
    font-weight: bold;
    height: 20px;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
}

.section_title h2::after {
    content: '';
    background: #1266f1;
    display: block;
    height: 5px;
    width: 150px;
    margin: 10px auto;
}

.box1 {

    color: black;
    position: relative;
    /* background-color: aqua; */
    flex: 1;
    left: 50px;
    top: 66px;
    display: flex;
}


.box1 h2 {
    text-align: center;
    font-weight: bold;
    height: 20px;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
    font-size: 40px;
}

.box1 h2::after {
    content: '';
    background: #1266f1;
    display: block;
    height: 5px;
    width: 150px;
    margin: 10px auto;
}

.box2 {

    /* color:white;
    background-color: red; */
    position: relative;
    display: flex;
    right: 120px;
    
}

  
/* Team  */
.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    background: #fff;
    min-height: 100vh;
}

.team{
    display: flex;
    
}
.team::before {
    content: '';
    position: absolute;
   bottom: -700px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #2196f3);
    clip-path: circle(30% at right 70%);

}

.team::after {
    content: '';
    position: absolute;
    bottom: -500px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 40%);
}

.img_box {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.content{
    position: relative;
    margin-left: 30px;
}
.img_box .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
margin: 20px;
box-shadow: 0 15px 35px ;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(10px);
}
.img_box  .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: 0.5s;
}
.img_box  .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.img_box  .card .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0,.25);
}

.img_box  .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_box  .card .content .contentBx h3{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
line-height: 1.1em;
}
.img_box  .card .content .contentBx h3 span{
     font-size: 12px;
     font-weight: 300;
     text-transform: initial;
}

.sci {
 position: absolute;   
 bottom: 50px;
 display: flex;
}
.sci li
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.sci li a{
    color: #000;
    font-size: 24px;

}

/* footer  */
footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: rgba(255, 255, 255, 0.467);
  margin-top: auto;
  box-shadow: 0.1px 11.1px 25px;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  /* background:linear-gradient(112.1deg, rgb(32, 38, 57,0.2) 11.4%, rgb(63, 76, 119,0.2) 70.2%),url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0; */
/* 
  background-position-y: 70px;
  background-position-x: -500px; */
  /* background-position: bottom; */
  /* border-top-left-radius: 50px; */
  /* border-top-right-radius: 50px; */
  background: url(background.jpg);
  z-index: 1;
}

footer .container{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 47px;
}

footer .container h2{
  position: relative;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .container h2:before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: black;
}

footer .container p{
  color: #000;
  margin-top: 5px;
}

footer .sci{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4 , 50px);
  font-size: 2.5em;
  margin-left: -9px;
  grid-gap: 10px;
}

footer .sci li{
  list-style: none;
}

footer .sci li a{
  display: inline-block;
  width: 48px;
  height: 48px;
  /* background: #5569ce; */
  font-size: 4 0px;
  border-radius: 7px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  transition: 0.2s;
}

footer .sci li a:hover{
  background: transparent;
  color: #1266f1;
  transform: translateY(-7px);
}

.quicklinks{
  position: relative;
}

.quicklinks li{
  list-style: none;
}

.quicklinks li a{
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: 0.3s;
  font-size: 1.07rem;
}

.quicklinks li a:hover{
  color: #3586ff;
  transform: translateX(10px);
  font-weight: 600;
  /* text-decoration: underline; */
}

.quicklinks li a{
  position: relative;
  width: 100%;
}

.contact{
  list-style: none;
}

.contact .info{
  position: relative;
}

.contact li{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

.contact li span:nth-child(1){
  color: #000;
  font-size: 31px;
}

.contact li span{
  color: #000;
}

.contact li .ecell{
  margin-left: 20px;
}

.contact a{
  color: #000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  transition: 0.3s;
}
.contact li a:hover{
  color: #3586ff;
  transform: translateX(10px);
  font-weight: 600;
}

.contact li p:hover{
  transform: translateX(10px);
}

.copyright{
  width: 100%;
  background: #1266f1;
  padding: 8px 100px;
  text-align: center;
  color: #fff;
  margin-top: 0px;
}

@media (min-width: 875px) {
.header li {
  float: left;
}
.header li a {
  padding: 20px 0px 5px 0px;
  margin-left: 30px;
}
.header .menu {
  clear: none;
  float: right;
  max-height: none;
}
.header .menu-icon {
  display: none;
}
}

/* 48em = 768px */

@media (min-width: 48em) {
.section-split a {
  width: 50%;
}
}

@media(max-width:991px){
  footer{
      padding: 40px;
  }
  footer .container{
      grid-template-columns: repeat(2,1fr);
  }
  .copyright{
      padding: 8px 40px;
  }
}

@media(max-width:768px){
  footer .container{
      grid-template-columns: repeat(1,1fr);
  }
}
